@media print {
  @page {
    size: A5 portrait;
    margin: 8mm;
  }

  :host {
    display: block;
    background: white;
  }

  :host .no-print {
    display: none !important;
  }

  :host article {
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }
}
