@media print {
  :host {
    display: block;
    background: white;
  }

  :host .no-print {
    display: none !important;
  }

  :host article {
    box-shadow: none;
    border: 1px solid #ccc;
    margin: 0;
    border-radius: 0;
  }
}
